@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

span {
    margin: 0 !important;
}

body {
    height: 100vh;
    background: #4094F726;
}

.active {
    .ant-menu-item {
        background-color: #4094F7 !important;
    }
}

.login__container {
    display: flex;

    & .login__container-left {
        width: 50%;
        background: radial-gradient(#3e8fff 45%, #0067F4 100%);

        & img {
            top: 214px;
        }

        & .img_wrapper {
            height: calc(100vh- 40px);
        }
    }
}